/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";
@import "src/styles/fonts";

.subexperimentPlate {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 165 * $px;
  padding: (10 * $px) (16 * $px);
  cursor: default;
  border: (2 * $px) solid $color-stroke2;
  border-radius: 3 * $px;

  &__head {
    @include paragraph-p2;
    margin-bottom: 7 * $px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__satisfactoryStatus {
    margin-right: 11 * $px;
  }

  &:hover {
    background-color: #fafafa;
  }
}
