@import "src/styles/variables";

.libraryPage {
  &__addBtn {
    margin-left: auto;
  }
}

.entityTabs {
  display: flex;
  margin-bottom: 64 * $px;

  &__tab {
    margin-right: 86 * $px;
    font-size: 26 * $px;
    font-weight: 700;
    line-height: 32 * $px;
    color: $color-titles-gray;

    &:hover {
      cursor: pointer;
    }

    &_active {
      color: $color-green;
    }
  }
}

.project {
  &__compounds {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.contextActions {
  padding-right: 20 * $px;
}
