@import "src/styles/variables";

.libraryPage {
  &__addBtn {
    margin-left: auto;
  }
}

.entityTabs {
  display: flex;
  margin-bottom: 64 * $px;

  &__tab {
    margin-right: 86 * $px;
    font-size: 25 * $px;
    font-weight: 400;
    color: $color-titles-gray;

    &:hover {
      cursor: pointer;
    }

    &_active {
      color: $color-black;
    }
  }
}

.project {
  &__compounds {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__actions {
    padding-right: 20 * $px;
  }
}
