@import "src/styles/variables";

.libraryTable {
  $border-color: #eaeaea;
  $vertical-padding: 18 * $px;
  $head-line-height: 17 * $px;
  $cell-indent: 20 * $px;

  border-collapse: collapse;

  &__head {
    border-bottom: $px solid $border-color;
  }

  &__columnHead {
    position: relative;
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    padding-left: $cell-indent;

    font-size: 14 * $px;
    font-style: normal;
    font-weight: 600;
    line-height: $head-line-height;

    color: #979797;
    text-align: left;
    //border-right: $px solid $border-color;

    &:last-child {
      border-right: 0;
    }
  }

  &__headRightBorder {
    $height: 36 * $px;
    position: absolute;
    top: (2 * $vertical-padding + $head-line-height - $height) / 2;
    right: 0;
    width: $px;
    height: 36 * $px;
    background-color: #eaeaea;
  }

  &__row {
    &:hover {
      background-color: #efefef;
    }
  }

  &__cell {
    padding-top: $vertical-padding;
    padding-bottom: $vertical-padding;
    padding-left: $cell-indent;
    border-bottom: $px solid $border-color;
  }
}
