/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";
@import "src/styles/fonts";

.emptyPlaceholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;

  &__title {
    @include headline1;

    color: #4a4a4a;
    text-align: center;
  }

  &__description {
    margin: 0 auto (26 * $px) auto;
    color: #4a4a4a;
  }

  &__button {
    margin: 0 auto;
  }
}
