/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/fonts";
@import "src/styles/variables";

.ic50 {
  display: flex;
  align-items: center;

  &__label {
    margin-right: 9 * $px;
    font-size: 12 * $px;
    font-weight: 400;
    line-height: 16 * $px;
    color: $color-titles-gray;
  }

  &__value {
    @include paragraph-p2;
  }

  &__valueNone {
    width: 10 * $px;
    height: 1 * $px;
    content: "";
    background-color: $color-black;
  }
}
