@import "src/styles/variables";

.uploadPreviewTable {
  max-height: 300 * $px;
  border: $px solid #9ba5a1;
  border-radius: 8 * $px;

  &__actions {
    display: flex;
    justify-content: center;
  }
}
