/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";
@import "src/components/Table/Table";

.uploadPreviewTableContainer {
  max-height: 282 * $px;
}

.uploadPreviewTable {
  width: 100%;

  &__actions {
    display: flex;
    justify-content: center;
    padding: (10 * $px) 0 (10 * $px) $cell-indent !important;
  }
}
