@import "variables";
//@import url("root-ui-font/stylesheet.css");
@import "fonts/PTRootUI";

* {
  box-sizing: border-box;
}

html,
body {
  min-width: 22rem;
  font-family: "PT Root UI", serif;
}

.ednaInput,
.ednaTextarea {
  box-sizing: border-box;
  min-height: 38 * $px;
  padding: $elem-padding;
  border: $px solid $input-border-color;
  border-radius: $border-radius;
}

.ednaInput:focus,
.ednaTextarea:focus {
  border: $px solid $input-border-outlined;
  outline: none;
  box-shadow: 0 0 0 $px $input-border-outlined;
}
