@import "src/styles/variables";

.formField {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 12 * $px;
    font-size: 14 * $px;
    color: #979797;
  }

  &__error {
    float: right;
    font-size: 12 * $px;
    color: var(--error-msg);
  }

  &__required {
    color: var(--error-msg);
  }
}
