@import "src/styles/variables";

.contextActions {
  position: relative;
  display: flex;
  width: 30 * $px;

  &__btn {
    padding: 0 (22 * $px);
    background-color: transparent;
    border: 0;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    position: absolute;
    top: 25 * $px;
    right: 0 * $px;
    z-index: 20;
    display: none;
    flex-direction: column;
    margin: 0 (22 * $px);
    background-color: white;
    border-radius: 4 * $px;

    box-shadow: 0 0 (5 * $px) rgba(151, 151, 151, 0.3);

    &_visible {
      display: flex;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: (6 * $px) (12 * $px);
    color: rgba($color-black, 0.7);
    text-decoration: none;

    svg {
      margin-right: 14 * $px;
    }

    &:hover {
      cursor: pointer;
      background-color: $color-light-green;
    }
  }
}
