/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

.descriptiveSelector {
  z-index: 2;
  display: flex;
  flex-direction: column;
}
