/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

.ic50value {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;

  &__none {
    width: 10 * $px;
    height: 1 * $px;
    content: "";
    background-color: $color-black;
  }
}
