/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

.experimentsArea {
  display: flex;
  flex-direction: column;

  &__controlBtns {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14 * $px;
  }

  &__showEntries {
    display: flex;
  }

  &__showBtn + &__showBtn {
    margin-left: 8 * $px;
  }

  &__experimentsTableContainer {
    max-height: 522 * $px;
  }
}

.experimentsTable {
  &__subexperiments {
    display: flex;
    flex-wrap: wrap;
    padding: 16 * $px;
  }

  &__subexperiment {
    margin-bottom: 11 * $px;
  }

  &__subexperiment:nth-child(odd) {
    margin-right: 9 * $px;
  }

  &__subexperiment_expanded:nth-child(4n+2) {
    margin-right: 9 * $px;
  }

  &__showCheckbox {
    padding-right: 23 * $px;
  }
}

.ednaCheckbox {
  position: relative;
  right: 0.5rem;
  bottom: 0.5rem;
  display: block;
  cursor: pointer;

  input {
    display: none;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: $px solid #dfe3e3;
    border-radius: $px;

    &::after {
      position: absolute;
      top: 0.05rem;
      left: 0.29rem;
      display: none;
      width: 0.25rem;
      height: 0.5rem;
      content: "";
      border: solid #191c1c;
      border-width: 0 $px $px 0;
      -webkit-transform: rotate(0.125turn);
      -ms-transform: rotate(0.125turn);
      transform: rotate(0.125turn);
    }
  }

  input:checked ~ &__checkmark {
    background-color: #bfe5d2;
  }

  input:checked ~ &__checkmark::after {
    display: block;
  }
}
