@import "src/styles/variables";
@import "src/styles/fonts";

.createDialog {
  &__description {
    resize: vertical;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  &__footerBtn {
    margin-left: 36 * $px;
  }

  &__errorMsg {
    font-size: 15 * $px;
    color: var(--error-msg);
  }
}
