/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

$cell-indent: 21 * $px;

.ednaTable {
  $border-color: #dfe3e3;
  $head-vertical-padding: 21 * $px;
  $head-line-height: 18 * $px;

  width: 100%;
  border-spacing: 0;

  &_fixed {
    table-layout: fixed;
  }

  &__sortSign {
    margin-left: 10 * $px;
    visibility: hidden;

    &_desc {
      svg {
        transform: rotate(180deg);
      }
    }

    &_vis {
      visibility: visible;
    }
  }

  &__columnHead {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: $head-vertical-padding 0 $head-vertical-padding $cell-indent;
    font-size: 14 * $px;
    font-weight: 500;
    line-height: $head-line-height;
    color: $color-black;
    text-align: left;
    background-color: white;
    border-bottom: $px solid $border-color;

    &:last-child {
      border-right: 0;
    }

    &:hover .ednaTable__sortSign {
      visibility: visible;
    }

    &_light {
      color: gray;
    }

    &_compound {
      width: 33.3%;
    }

    &_target {
      width: 33.3%;
    }

    &_IC50 {
      width: 17.5%;
    }

    &_checkmark {
      width: 15.8%;
    }
  }

  &__headRightBorder {
    $height: 20 * $px;

    position: absolute;
    top: (2 * $head-vertical-padding + $head-line-height - $height) / 2;
    right: 0;
    width: $px;
    height: $height;
    background-color: #eaeaea;
  }

  &__cell {
    max-height: 50 * $px;
    padding: (16 * $px) 0 (16 * $px) $cell-indent;
    font-size: 14 * $px;
    font-weight: 400;
    line-height: 18 * $px;
    border-bottom: $px solid $border-color;

    &_small {
      max-height: 44 * $px;
      padding: (13 * $px) 0 (13 * $px) $cell-indent;
    }
  }

  &__cellShownCollapse {
    display: none;
    height: 0;
    border-bottom: $px solid $border-color;

    &_shown {
      display: table-cell;
      height: 100%;
    }
  }

  &__row {
    border: 0;

    &_striped {
      background-color: #fafafa;
    }

    &:hover {
      background-color: $color-light-green;
    }

    &_collapsible {
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__error {
    display: table-cell;
    padding: 20 * $px;
    color: $color-help-red;
    text-align: center;
  }

  tr:last-child .ednaTable__cell {
    border-bottom: 0;
  }

  tr:last-child .ednaTable__cellShownCollapse {
    border-bottom: 0;
  }
}

.tableContainer {
  overflow-y: scroll;
  border: $px solid #9ba5a1;
  border-radius: 8 * $px;
}
