/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 76.5rem;
  padding: (31 * $px) 0;
  box-shadow: 0 -0.25rem 0.625rem rgba(#e3eeee, 0.45);

  &__container {
    display: flex;
    justify-content: flex-end;
    width: 74rem;
    margin: 0 auto;
  }

  &__description {
    font-size: 0.875rem;
    color: #333;
  }

  // Rotate the copyright symbol to produce copyleft.
  // We don't use U+1F12F because we are not sure it's supported everywhere.
  &__copyleft {
    display: inline-block;
    font-size: 0.875rem;
    color: #333;
    transform: rotate(180deg);
  }
}
