/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";
@import "src/styles/main";

.uploadStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;

  //justify-content: space-between;

  max-height: 90 * $px;
  padding: (28 * $px) (22 * $px);
  background: #f6faf8;
  border: $px solid #9ba5a1;
  border-radius: $border-radius;

  &__line {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: inline-flex;
    align-items: center;
    font-size: 14 * $px;
    font-style: normal;
    font-weight: 400;
    line-height: 17 * $px;
  }

  &__statusIcons {
    display: flex;
    align-items: center;
  }

  &__statusIcon {
    padding-right: 1.875rem;
    border-right: $px solid #9ba5a1;
  }

  &__resetIcon {
    margin-left: 1.875rem;

    &:hover {
      svg {
        /* stylelint-disable */
        rect {
          stroke: #ce6c6c;
        }

        path {
          stroke: #ce6c6c;
        }
      }
    }
  }
}

.progressBar {
  $bar-radius: 6 * $px;

  &__label {
    margin-top: 10 * $px;
    margin-bottom: 6 * $px;
    font-size: 10 * $px;
    line-height: 12 * $px;
    color: #9ba5a1;
  }

  &__bar {
    width: 100%;
    height: 2 * $px;
    background-color: #bdddd5;
    border-radius: $bar-radius;
  }

  &__progress {
    height: 100%;
    background-color: #3a8370;
    border-radius: $bar-radius;
  }
}
