@import "src/styles/variables";
@import "src/styles/main";

.uploadStatus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  //justify-content: space-between;

  max-height: 73 * $px;
  padding: (28 * $px) (22 * $px);

  background: #fafafa;
  border: $px solid #e1e1e1;
  border-radius: $border-radius;

  &__line {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    display: inline-flex;
    align-items: center;

    font-size: 14 * $px;
    font-style: normal;
    font-weight: 600;
    line-height: 17 * $px;
  }
}

.progressBar {
  $bar-radius: 6 * $px;

  &__label {
    margin-top: 10 * $px;
    margin-bottom: 6 * $px;

    font-size: 10 * $px;
    line-height: 12 * $px;
    color: #616161;
  }

  &__bar {
    width: 100%;
    height: 2 * $px;
    background-color: #eee;
    border-radius: $bar-radius;
  }

  &__progress {
    height: 100%;
    background-color: #ccc;
    border-radius: $bar-radius;
  }
}
