@import "src/styles/variables";

@mixin is-btn() {
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    pointer-events: none;
  }
}

@mixin main-btn() {
  @include is-btn();
  font-size: 18 * $px;
  font-weight: 400;
  line-height: 22 * $px;
}

@mixin snd-btn() {
  @include is-btn();
  font-size: 14 * $px;
  font-weight: 400;
  line-height: 18 * $px;
}

.primaryButton {
  @include main-btn();
  position: relative;
  display: flex;

  padding: (16 * $px) (22 * $px);
  color: white;
  background-color: $color-green;
  border: 0;
  border-radius: $border-radius;

  &:disabled {
    pointer-events: none;
    background-color: rgba($color-green, 0.3);
  }

  &:active {
    background-color: #175a49;
  }

  &:hover {
    cursor: pointer;
    background-color: #206c58;
  }
}

.textButton {
  @include main-btn();

  padding: (16 * $px) (22 * $px);
  font-size: 18 * $px;
  font-weight: 500;
  line-height: 24 * $px;
  color: $color-green;
  background-color: white;
  border: 0;

  &:hover {
    color: #206c58;
    cursor: pointer;
  }

  &:active {
    color: #175a49;
  }

  &:disabled {
    color: #c4dad5;
    pointer-events: none;
  }

  &_delete {
    color: $color-help-red;

    &:hover {
      color: #bf6060;
    }

    &:active {
      color: #af5656;
    }
  }

  &_gray {
    color: $color-gray;

    &:hover {
      color: #7a847f;
    }

    &:active {
      color: #6e7571;
    }
  }

  &_small {
    padding: (6 * $px) (8 * $px);
  }
}

.roundedButton {
  @include snd-btn();

  padding: (9 * $px) (20 * $px);
  font-size: 14 * $px;
  font-weight: 700;
  line-height: 18 * $px;
  color: $color-green;
  background-color: $color-light-green;
  border: 0;
  border-radius: 50 * $px;

  &:hover {
    background-color: #def4e9;
  }

  &:active {
    background-color: #bfe5d2;
  }

  &:disabled {
    color: rgba($color-green, 0.3);
    pointer-events: none;
    background: rgba($color-light-green, 0.3);
  }

  &_halfRounding {
    border-radius: 4 * $px;
  }

  &_active {
    background-color: #bfe5d2;
  }

  &_small {
    padding: (6 * $px) (8 * $px);
  }
}

.linkButton {
  @include snd-btn();

  padding: (3 * $px) (18 * $px);
  color: white;
  background-color: $color-green;
  border: 0;
  border-radius: 4 * $px;

  &:disabled {
    background-color: $color-disabled-green;
  }

  &:active {
    background-color: #175a49;
  }

  &:hover {
    cursor: pointer;
    background-color: #206c58;
  }
}

.btn-spinner {
  position: absolute;
  right: 8 * $px;
  font-size: 3 * $px;
}
