@import "src/styles/variables";

@mixin btn-typography() {
  font-size: 14 * $px;
  line-height: 18 * $px;
}

.primaryButton {
  height: 3rem;
  padding: (16 * $px) (26 * $px);
  font-weight: 500;
  color: white;
  background-color: #474747;
  border: 0;
  border-radius: $border-radius;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #f6f6f6;
    pointer-events: none;
    background-color: #c4c4c4;
  }

  &:active,
  &:hover {
    color: #eae8e8;
    background-color: #979797;
  }
}

.outlinedButton {
  height: 3rem;
  padding: (16 * $px) (26 * $px);
  font-weight: 500;
  color: #474747;
  background-color: white;
  border: $px solid #474747;
  border-radius: $border-radius;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #c4c4c4;
    pointer-events: none;
  }

  &:active,
  &:hover {
    background-color: #d6d6d6;
  }
}

.secondaryButton {
  @include btn-typography();

  padding: (9 * $px) (20 * $px);
  color: $color-green;
  background-color: $color-disabled-green;
  border: 0;
  border-radius: 50 * $px;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #9ac3b9;
  }

  &:active {
    color: white;
    background-color: $color-green;
  }

  &:disabled {
    color: $color-green;
    pointer-events: none;
    background: $color-light-green;
  }
}

.linkButton {
  @include btn-typography();

  padding: (3 * $px) (18 * $px);
  color: white;
  background-color: #8e8e8e;
  border: 0;
  border-radius: 4 * $px;

  &:focus {
    outline: none;
  }

  &:disabled {
    color: #7d7d7d;
    pointer-events: none;
    background-color: #cbcbcb;
  }

  &:active,
  &:hover {
    background-color: #545454;
  }
}
