/*
 * SPDX-FileCopyrightText: 2021 Serokell <https://serokell.io>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

@import "src/styles/variables";

.tooltipContainer {
  position: relative;
  line-height: 0;
  text-align: center;

  &__tooltip {
    position: absolute;
    bottom: -26 * $px;
    left: -50%;

    z-index: 1;
    display: none;
    padding: (2 * $px) (8 * $px);

    font-size: 12 * $px;
    line-height: 16 * $px;
    color: white;
    white-space: nowrap;
    background-color: $color-black70;
    border-radius: 2 * $px;

    &_type_error {
      color: $color-help-red;
    }
  }

  &:hover &__tooltip {
    display: block;
  }
}
