@import "src/styles/main";
@import "src/styles/variables";

.ednaHeader {
  width: 100%;
  height: 93 * $px;
  background: white;
  box-shadow: (3*$px) (3*$px) (6*$px) rgba(#dfe2e3, 0.5);

  &__container {
    display: flex;
    align-items: center;
    max-width: $container-max-width;
    height: 100%;
    padding-right: $container-side-padding;
    padding-left: $container-side-padding;
    margin-right: auto;
    margin-left: auto;
  }

  &__brand {
    margin-right: auto;

    font-size: 31 * $px;
    font-style: normal;
    font-weight: 700;
    line-height: 43 * $px;
    color: $color-green;
    text-align: left;
    letter-spacing: -0.065rem;
  }

  &__ednaLogo {
    position: relative;
    top: -8*$px;
    margin-right: 7 * $px;
  }

  &__menu {
    display: flex;
    height: 100%;
    margin-left: auto;
  }

  &__menuitem {
    $wrapper-padding: 10 * $px;
    $wrapper-left-margin: 63 * $px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    padding-right: $wrapper-padding;
    padding-left: $wrapper-padding;

    font-size: 18 * $px;
    color: $color-gray;
    text-decoration: none;
    text-transform: capitalize;

    & + & {
      margin-left: $wrapper-left-margin;
    }

    &_active {
      color: $color-black;
    }

    &:hover {
      color: $color-black;
      cursor: pointer;
    }
  }
}
