@import "src/styles/main";
@import "src/styles/variables";

.ednaHeader {

  $menuitem-border: 0.3125rem;
  display: flex;
  align-items: center;
  height: 84 * $px;
  padding-right: $global-side-padding;
  padding-left: $global-side-padding;
  background-color: #efefef;
  box-shadow: 0 4 * $px 4 * $px 0 rgba(181, 181, 181, 0.25);

  &__brand {
    margin-right: auto;
    font-size: 35 * $px;
  }

  &__menu {
    display: flex;
    height: 100%;
    margin-left: auto;
  }

  &__menuitem {
    $wrapper-padding: 10 * $px;
    $wrapper-margin: 30 * $px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    padding-right: $wrapper-padding;
    padding-left: $wrapper-padding;
    margin-right: $wrapper-margin;
    margin-left: $wrapper-margin;

    font-size: 18 * $px;
    border-bottom: $menuitem-border solid transparent;

    &_active {
      border-bottom: $menuitem-border solid #c4c4c4;
    }

    &:hover {
      cursor: pointer;
      border-bottom: $menuitem-border solid #c4c4c4;
    }
  }
}
