@import "src/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  max-width: $container-max-width;

  padding: (62 * $px) $container-side-padding;
  margin-right: auto;
  margin-left: auto;
}
