@import "src/styles/variables";

.pageLayout {
  position: relative;
  min-height: 100vh;
  padding-bottom: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: $container-max-width;
  padding: (56 * $px) $container-side-padding;
  margin-right: auto;
  margin-left: auto;
}
